
html{
	font-family: 'Merriweather Sans', sans-serif;
}

h3{
	font-size: 40px;
	font-family: 'Merriweather Sans', sans-serif;
	padding: 10px;
}

.container{
	margin:auto;
	width: 100%;
}

hr{
	width: 30px;
	color: red;
}